<h1>Portfolio Items</h1>
<p><%=link_to "New Portfolio", new_portfolio_url%></p>
<%@portfolio_items.each do |portfolio_item| %>
  <h2><%=link_to "#{portfolio_item.title}", portfolio_path(portfolio_item)%></h2>
  <p><%=portfolio_item.subtitle%></p>
  <p><%=portfolio_item.body%></p>
  <p><%#image_tag portfolio_item.main_image%></p> 
  <p><%=image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil? %></p>
  <%=link_to "Edit", edit_portfolio_path(portfolio_item.id)%>
  <%=link_to "Delete", portfolio_item, method: :delete, data: { confirm: 'Are you sure?' }%>
  <p></p>
<% end %>